


<div class="container">
  <h1>Your list <%= @list.name%></h1>
  <br>
  <ul class="list-group mb-3">
    <% @movies.each do |movie| %>
      <li class="list-group-item">
      <img src="<%= movie.poster_url %>" width="100px" alt="">
      <%= movie.title %><%= movie.overview %>
      <br>
      Rating: <%= movie.rating %>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <%= link_to "Back", lists_path, class: "btn btn-success" %>
   <br>
  <br>
  <%= link_to "Add a bookmark",  new_list_bookmark_path(@list), class: "btn btn-success" %>
</div>
